@mixin chartwidget() {
.esri-chartwidget {
  display: flex;
  //align-items: start;
  .esri-widget--button {
    align-items: center;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: background-color 125ms ease-in-out;
  }
  .esri-widget--chart{
    min-width: 400px;
    min-height: 300px;
    display: none;
  }
}
}

@if $include_ChartWidget == true {
@include chartwidget();
}